matplotlib==3.5.2
mss==6.1.0
opencv-python==4.5.5.64
PyAutoGUI==0.9.53
pyrr==0.10.3
pytesseract==0.3.9
pywin32==304
scikit-learn==1.1.1
scipy==1.8.0
setuptools~=61.2.0
pywinauto~=0.6.8
psutil~=5.9.1
pydirectinput~=1.0.4