certifi==2021.5.30
cycler==0.11.0
fonttools==4.33.3
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.2
MouseInfo==0.1.3
mss==6.1.0
multipledispatch==0.6.0
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.1.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyrr==0.10.3
pyscreen==0.3
PyScreeze==0.1.28
python-dateutil==2.8.2
pytweening==1.0.4
scikit-learn==1.1.0
scipy==1.8.0
six==1.16.0
threadpoolctl==3.1.0
wincertstore==0.2
xlib==0.21
